/* html.sr .headings{
	visibility: hidden;
} */

.whole-pop-up-container{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.7);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index:99999;
}
.pop-up-container{
	position: relative;
	background: white;
	padding: 40px;
	width: 760px;
	box-shadow: 0px 5px 8px black;
}
.close-container{
	position: absolute;
	right:-13px;
	top: -13px;
	border:white 1px solid;
	cursor: pointer;
	background:black;
	padding: 3px 8px;
	border-radius: 50%;
	color: white;
	font-size: 14px;
	box-shadow: 0px 0px 20px black;
}




.page-template-percipio-sidebar .content-area{
	margin-right:0px;
}

.page-template-percipio-sidebar .mt-3r{
	margin-top: 1.2rem;
}

.page-template-percipio-sidebar .entry-content{
	margin:0px;
}
.page-template-percipio-sidebar #post-2056 header .entry-title{
	display:none;
}

.page-template-percipio-sidebar .container-fluid header .entry-title{
	margin-top:30px;
}
.page-template-percipio-sidebar .program-sidebar{
	padding-top:0px;
}

.page-template-percipio-sidebar .program-sidebar .mt-3r{
	margin-top:20px;
}

.woocommerce-page #secondary{
	display: none !important;
}

ul.products li.product .woocommerce-loop-product__title{
	text-align:center;
	font-weight:bold;
}

.woocommerce-page .col-md-8{
	flex: 0 0 100% !important;
    max-width: 100% !important;
}

.woocommerce-page .col-md-4{
	display: none !important;
	flex: 0 0 0% !important;
    max-width: 0% !important;
}

.woocommerce-page .container{
	max-width: 1550px !important;
}

.columns-5 .product{
	width: 16.79667% !important;
}

.woocommerce-loop-product__title{
	margin-top: 20px;
}

.woocommerce-page .carousel-title-container{
	display: none !important;
}

.single-product div.product{
	display: block !important;
}

@media screen and (max-width:770px){
	.columns-5 .product{
		width: 16.79667% !important;
	}
	.woocommerce-page .container{
		max-width: 92% !important;
	}
	.pop-up-container{
		font-size:.8em;
	padding: 14px;
	width: 94%;
	box-shadow: 0px 5px 8px black;
   }
	.pop-up-container h4{
		font-weight:bold;
	}
}

@media screen and (max-width:450px){
	.columns-5 .product{
		width: 100% !important;
	}
}

.button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
	display: none !important;
}


.fa-shopping-cart{
	margin-left: 10px;
}
.search-icon-wrap-2{
	position: relative;
}
.cart-num{
	padding: 4px 8px;
	background: maroon;
	color:white;
	font-size: 12px;
	border-radius: 50%;
	margin-left: -10px;
	
}

/* end of wooccommerce style */


.blur-it{
	  filter: blur(4px);
}
.wpforms-form button[type=submit] {
	background-color: #007bff !important;
	color: #fff !important;
	text-transform:uppercase !important;
	display:block !important;
	width:100% !important;
}

.fonty-08{
	font-size:1em;
}

/* .container-fluid{
	width: 82% !important;
} */

.program-contact-form{
	display: none;
}

.on-develop-container{
	text-align: center;
}
#FAQ-container,#FAQ-search{
	display: none;
}

.downloads-btn{
	font-size:2.25em !important;
}
.p-in-branches p{
	margin:0px !important;
}
.fa-chevron-2-right,.fa-chevron-2-left{
	color:#cacaca;
	font-size: 1.4em;
	background: #f1f1f1;
	padding: 10px 15px;
	border-radius: 100%;
	cursor:pointer;
}


.program-sidebar{
	padding-top:5em;
}
.fluid-2{
	width: 82% !important;
}

.senior-high-titles{
	font-weight: bold;
}

.page-template-program-sidebar .content-area{
	margin-right:23px;
}

.faq-list a{
	font-size:15px;
}

.whole-container{
	padding-bottom: 70px;
}


.faq-search{
	border-radius: 50px !important;
	padding: 20px 23px !important;
	width: 70% !important;
	margin: auto;
}

.FAQ-p{
	padding:98px 70px;
	margin-top:-140px;
}

@media screen and (max-width:500px){
	.FAQ-p{
		padding:40px 40px;
		margin-top:-110px;
	}
	.fluid-2{
		width: 90% !important;
	}
	.content-area{
		margin-right: 0px;
	}
	.corporate-dropdown ul{
		padding-left: 30px !important;
	}
	.wp-bp-sidebar-width{
		padding-top:2em;
	}
	.my-title{
		font-size:1.5em !important;
	}
	.main-video-description{
		font-size:.87em !important;
	}
	#main-vid{
		height:295px !important;
	}
}

.dd-admission{
	overflow: hidden;
	display: none;
}

.delete-p > p{
	display: none;
}

header .carousel-inner{
	height:651px;
}
#whats-happening .post-entry{
	height:35vh !important;
	overflow: hidden;
}

.head-carousel .carousel-item{
/* 	height: 41vw; */
	height:51vw;
	overflow: hidden;
}


@media screen and (min-width:768px){
	#social-media-dropdown{
		display: none;
	}
	
}

@media screen and (max-width:1200px){
	header .carousel-inner{
		height:auto;
	}
}

.bdp-hover{
	padding:32px 20px !important;
}


@media screen and (max-width:500px){
	header .carousel-inner{
		height:194px;
	}
	.contact-p{
		font-size:.9em;
	}
	.bdp-hover{
		font-size: .7em;
	}
	.bdp-paragraph{
		font-size:.75em !important;
	}
	p{
		font-size:.8em !important;
	}
	h4{
		font-size:.9em !important;
	}
	
}


@media screen and (max-width:768px){
	/* .custom-logo{
		margin-left:28px !important; 
	} */
	.admission-title-wrap{
		margin-top:-20px;
	}
	#whats-happening .post-entry{
		height: auto !important;
	}
	.content-title{
		height: 34px !important;
	}

}



.img-holder-main{
	width: 80px;
	margin:auto;
}

#social-media-dropdown{
	position: absolute;
	top:100%;
	width: 100%;
	background: #f7f7f7;
}

#social-media-dropdown a{
	color:#676767;
	padding:10px 20px;
	transition: .2s all linear;
}

#social-media-dropdown a:hover{
	color: white;
}

#social-media-dropdown li{
	transition:.2s all linear;
}

#social-media-dropdown li:hover{
	background:#007bff;
}
.btn{
	border-radius:0px !important;
}

.scroll-up-button{
	position:fixed !important;
	bottom:22.8px;
	right:90px;
	width:55px;
	height:55px;
	cursor:pointer;
	border-radius:100%;
	display:none;
}
.scroll-up-button img{
	width:100% !important;
}
/* .branch-slider-img{
	height:320px;
} */

#branch-vue .container{
	max-width:1440px;
}

.pt-90{
	padding-top:20px;
}

@media screen and (max-width:568px){
	.pt-90{
		padding-top:0px;
	}
	.branch-slider-img{
		height:auto;
	}
	.section-container h1{
		font-size:28px !important;
	}
}

.sub-tables{
	display: none;
}
.sub-tables td{
	font-size: .8em !important;
}
.main-table{
	display: block;
}

@media screen and (max-width:568px){
	.entry-header h1{
		font-size:1em !important;
	}
	.sub-tables{
		display: block;
		font-size:.8em;
	}
	.main-table{
		display: none;
	}
	.career-path-p{
		font-size:.8em;
		margin:0px !important;
	}
	.program-sidebar{
		font-size:.8em;
	}
}

.section-container-holder h3{
	font-size:20px;
}
.breadcrumb_last{
	font-size:13px;
}

.BSITTable{
	border:2px solid #dee2e6;
}
.BSITTable th{
	border:2px solid #dee2e6;
}

.BSITTable .table-head{
	color:#8b8b8b;
	background:#dee2e6;
	text-align:center;
	vertical-align:middle;
}

.BSITTable thead th{
	vertical-align: middle !important;
}

#secondary{
	margin:6em 0px;
	border:none !important;
	background:transparent !important;
}

@media screen and (max-width:500px){
	#secondary{
		margin-top: 3em;
	}
}

#secondary #archives-2{
	margin-bottom:20px !important;
	background:white !important;
}

#secondary #recent-posts-2{
	background:white !important;
}

#secondary .border-bottom{
	border:none !important;
}

#menu-custom-side-menu .current-menu-item a,#menu-custom-side-menu .current-page-ancestor a{
	color:#007bff !important;
}
#menu-custom-side-menu .current-menu-item,#menu-custom-side-menu .current-page-ancestor{
	background:transparent !important;
	border:none !important;
}
#search-icon-1,#search-icon-2,#fb-icon{
	cursor: pointer;
	background: #007bff;
	color: white;
	padding: 8px;
	border-radius: 100%;
}

header form{
	height: 0px;
	overflow: hidden;
	position:absolute;
	z-index:99999;
	right:0%;
	width:450px;
}

@media screen and (max-width:500px){
	header form{
		width:100% !important;
	}
}

#fb-icon{
	padding: 8px 11px;
}
.fb-search-wrap > *{
	display: inline-block;
}
#search-icon-wrap-1{
	display: none;
}
#fb-icon-wrap{
	display: none;
}

#dots-icon-wrap{
	display:none;
}

@media screen and (max-width:1000px){
	#search-icon-wrap-1{
		display: block;
	}
	#fb-icon-wrap{
		display: block;
	}
	#search-icon-wrap-2{
		display:none;
	}
	#social-media-wrap{
		display: none;
	}
	#dots-icon-wrap{
		display:block;
		cursor:pointer;
	}
}


#menu-custom-side-menu *{
	list-style:none !important;
} 
#menu-custom-side-menu{
/* 	padding:0px !important; */
	padding:0px;
	margin:0px;
}
#menu-custom-side-menu li{
	text-align:right !important;
	padding:10px 20px !important;
	background:white;
}
/* #menu-custom-side-menu li a{
	border-bottom:1.2px solid #dbdbdb;
	display:block;
} */


#menu-custom-side-menu li a{
	color:#6c757d;
	transition:.2s all linear;
}
#menu-custom-side-menu li a:hover{
	color:#007bff;
	text-decoration:none !important;
}

/*Corporate  */
 .corporate-list{
	 cursor: pointer;
 }

 .corporate-list-m{
	 margin-top: -10px !important;
 }
 
 /* Alumni Relations */
 .black-overlay p{
  margin-bottom: 0px;
 }
 @media screen and (max-width:576px){
	.set-height{
		height: auto !important;
	}
 }
 .margin-off{
	 padding:0px !important;
 }
 @media screen and (min-width:577px){	
	.set-height{
		height:600px !important;
	}
 }
/* Admission Detail Css */
.my-orange-height{
	height:250px;
}
.add-procedure-img{
	width:100px;
	margin: auto;
}
.table-admission-sub .thead-dark th{
	background: black !important;
}

.table-admission .thead-dark th:first-child{
	background: transparent;
	border: none
}

.table-admission-main{
	display: block;
}

.table-admission-sub{
	display: none;
}

@media screen and (min-width:577px){	
	.my-padding-admission{
		padding-top: 80px;
	}
}



.table-admission th{
	border-top: none !important;
	font-size:1.02em;
	text-align: right;
}
.table td{
	border:1px solid #dee2e6;
	font-size:1.02em;
}
@media screen and (max-width:500px){
	.table-admission th{
		font-size:.6em;
	}
	.table td{
		font-size:.6em;
	}
}

/* Bg Color Grey */
.bg-gray{
	background: #f1f1f1;
}

/* Dropdown */
.dropdown-menu{
	margin:0px !important;
	padding:0px !important;
	width:324px;
}


@media screen and (max-width:768px){
	.dropdown-menu{
		width: 100% !important;
	}
	.table-admission-main{
		display: none;
	}
	
	.table-admission-sub{
		display: block;
	}
}

.dropdown-menu li{
	background-color: #1C9CD8;
	text-align: left;
	text-transform: uppercase;
}
.dropdown-menu li a{
	line-height: 25px;
}
.dropdown-menu li:hover{
	background-color: white;
}
/* .dropdown-menu a{
	margin:0px 20px !important;
} */

/* Admission Css */
.border-right-orange{
	border-right: 15px solid orange;
}
.rotate{
	transform: rotate(-90deg);
	font-size:20px;
	color: orange;
}
@media screen and (max-width:576px){
	.rotate{
		transform: rotate(0deg);
	}
}
.right-side{
	font-size: 18px;
}
.margin-negative{
	margin-bottom: -48px;
}
.back-white{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.6);
}
.my-title{
	font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}
.my-admission-image{
	background: url('/wp-content/uploads/2020/08/Info-Website-19-1-min.jpg') no-repeat center center;
	background-size: cover;
}

.bg-admission{
	background: url('/wp-content/uploads/2020/08/Northgate.jpg') no-repeat center center;
	background-size: cover;
}


/* Diploma Course */
.my-diploma-image{
	background: url('/wp-content/uploads/2020/08/Info-Website-38-min.jpg') no-repeat center center;
	background-size: cover;
}
.diploma-course-p{
	font-size:14.5px;
}
/* .diploma-courses-p-list{
	font-size:14.2px;
} */



/* Senior High Tracks */
.senior-high-yellow-text{
	font-size:19px;
	color: #ffa60a;
}
.senior-high-p{
	font-size: 14px;
}
.senior-high-list-p{
	font-size: 16px;
}




/* Career Path */
.career-path-ul{
	margin:20px 0px 0px 0px;
	padding:0px;
}

/* No Card Css */
.my-card-2 .entry-title{
	font-weight: 300;
	font-size: 40px;
	text-transform: uppercase;
}



/* Bachelors Degree Programs */
.my-card-2 .bachelor ul li{
	border-left: none;
	border-top:none;
	border-left:none;
	border-right:none;
	padding-left:0px;
	padding-right:0px;
	background: transparent;
	transition: .2s all linear;
	cursor: pointer;
}
.my-card-2 .bachelor ul li:hover{
	color:#1C9CD8;
}

/* Programs Css */
.cursor-pointer p{
 margin-bottom: 0px;
}
.cursor-pointer .black-overlay{
	transition: .4s all linear;
}
.cursor-pointer:hover .black-overlay{
	top: 83%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,.9));
	height:19%;
}

.cursor-pointer:hover .program-margin{
	top:50%;
}

.cursor-pointer *{
	transition:.4s all linear;
}
.adjust-width{
	width: 80%;
	margin-top: 0%;
	font-size:28px;
	transition:.4s all linear;
}

@media screen and (max-width:500px){
	.adjust-width{
		font-size: 18px;
		width: 90%;
	}
	
}

.program-margin{
/*   margin-top: 26%; */
	position:absolute;
	top:78%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100%;
}

.position-hor-ver{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
}
.un-row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

@media screen and (min-width:1000px){
	.height-350{
		height:360px !important;
	}
}

#primary-menu a, #secondary-menu-wrap a{
	font-family: 'Open Sans', sans-serif !important;
	font-weight: normal;
	font-size: 1.15em;
}

.font-source-sans{
	font-family: 'Source Sans Pro' !important;
}

#programs-container p{
	padding: 0px;
	margin: 0px;
}
.black-overlay{
	top:-100%;
	left:0px;
	width:100%;
	height:202%;
	background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.7));
}
.cursor-pointer{
	cursor: pointer;
	overflow: hidden;
}

#breadcrumbs a{
	color:#c2c2c2 !important;
}

#breadcrumbs a:hover{
	color: #007bff !important;
}

#breadcrumbs .breadcrumb_last{
	color: #007bff !important;
}

@media screen and (max-width:768px){
	#site-navigation{
		padding:20px 0px !important;
	}
}

#primary-menu-wrap .nav-item{
	margin:0px !important;
}

#primary-menu > .nav-item:hover{
	background: #1C9CD8 !important;
}

#primary-menu > .nav-item:hover > a{
	color:white !important;
}
/* Sidebar Css */
/* #archives-2{
	padding: 0px;
	margin-bottom: 20px;
} */

hr{
	width:100%;
	height: 3px;
}
.success-p-size{
	font-size: 13px;
}

.success-row:not(:first-child){
	border-top: 2px solid #c2c2c2;
}

@media screen and (max-width:768px){
	.success-image-container{
		width: 50px;
		margin: auto;
	}
}



/* Whats Happening Posts */


.my-card{
	height:382px;
	overflow: hidden;
	margin-bottom: 23px;
}


#whats-happening .content-excerpt{
	height:146px;
	overflow:hidden;
}

.nocard p{
	max-height: 120px;
	overflow: hidden;
	
}

.nocard img{
	height:250px;
	width:100%;
}

/* Posts */
.content-title{
	max-height:54px;
	overflow: hidden;
}
.content-title h4{
	font-family: 'Source Sans Pro' !important;
	font-weight:600 !important;
}

.content-excerpt p{
	font-family: 'Source Sans Pro' !important;
	font-weight:300 !important;
	margin-top:10px;
	text-overflow: ellipsis;
	font-size: 1.12em;
}

.dropdown:hover>.dropdown-menu {
	display: block;
  }
/* Carousel */

#carouselExampleIndicators ol li{
	width: 20px !important;
	height: 20px !important;
	border-radius: 100% !important;
}


.carousel-title-container{
	position: absolute;
	text-align:right;
	left: 72%;
	transform:translateX(-50%);
	top:25%;
	z-index: 3;
	/* width: 100%; */
	width: 632px;
	overflow: hidden;
}

.carousel-title-container h3{
	font-size:4em;
}



@media screen and (max-width:768px){
	.content-excerpt{
		height: 122px;
	}

	.carousel-title-container{
		width: 225px;
		left:50%;
		text-align: center;
	}

	.carousel-title-container h3{
		font-size:1.2em;
	}

}

.carousel-title-container .carousel-title{
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 53px;
	line-height:55px;
	width:566px;
}



.padding-80{
	padding:80px;
}

@media screen and (max-width:1200px){
	.carousel-sub-title{
		display: none;
	}
}

@media screen and (max-width:800px){
	/* .carousel-title-container{
		top:5%;
	} */
/* 
	.carousel-title-container .carousel-title{
		font-size: 20px;
		width:203px !important;
		line-height:25px !important;
	} */
	.carousel-title-container button{
		margin:0px !important;
	}
	/* .carousel-title-container{
		top:6vw;
	} */
	#carouselExampleIndicators ol li{
		width: 10px !important;
		height: 10px !important;
		border-radius: 100% !important;
	}
	.my-btn-style{
		width:140px !important;
		font-size:13px !important;
	}
	
}
#inquire-now{
	font-size:1.2rem;
	padding: 1.1rem;
}
@media screen and (max-width:700px){
	
	#inquire-now{
		font-size:1.2rem;
		padding: .4rem;
	}

}

@media screen and (max-width:450px){
	.carousel-title-container .carousel-title{
		font-size: 15px;
		width:100% !important;
		line-height:20px !important;
	}
	#inquire-now{
		font-size:12px !important;
		padding: 5px;
	}
	.carousel-indicators{
		margin-bottom: 2px;
	}
	.custom-logo{
/* 		height:44px !important; */
	}
	#masthead .custom-logo-link{
		margin-left:-15px;
	}
	#search-icon-wrap-1{
		margin-left:-25px;
	}
	.padding-80{
		padding:10px;
	}
	
	#dots-icon-wrap{
		margin:0px;
	}
	.btn-primary{
		font-size:.8rem !important;
	}
	.envelope-text{
		margin-left:5px;
		font-size: .8em;
	}
	.social-para{
		font-size:.8em;
	}
	.section-container h1{
		font-size:22px !important;
	}
	.adjust-width{
		font-size: 15px;
		width: 100%;
	}
	.fonty-08{
		font-size:.8em !important;
	}
}


@media screen and (max-width:750px){
	.btn-informatics-blue{
		font-size:.9rem !important;
	}
}

.position-relative{
	margin-bottom:0px !important;
}
.carousel-title-container .carousel-sub-title{
	font-family: 'Source Sans Pro' !important;
	font-weight: 300;
	font-size: 21px;
	line-height: 28px;
	width:550px;
}
.my-btn-style{
	width: 200px;
	font-weight: bold !important;
}
.carousel-control-prev,.carousel-control-next{
	z-index: 3;
} 

/* Primary Menu */

nav{
	text-transform: uppercase !important;
}

#site-sub-navigation {
	background-color: rgba(28,156,216,.5);
}

#site-navigation, #site-sub-navigation {
	padding: 0px 16px;
}

#primary-menu-wrap {
	background-color: #f7f7f7;
}
#primary-menu-wrap > ul > li > a {
	color: #676767;
}

#primary-menu-wrap > ul > li > a, #secondary-menu-wrap > ul > li > a {
	padding: 10px 20px;	
}
/* #primary-menu-wrap li:hover > a, .dropdown-menu > li >a  {
	color: white;
} */

/* Secondary Menu */
/* #secondary-menu-wrap {
	
} */
#secondary-menu-wrap a {
	color: white;
}


.dropdown-menu {
	background-color: #1C9CD8;
}
.dropdown-menu > li {
	line-height: 1rem;
}
.dropdown-menu a{
	color:white;
	padding:18px 0px;
}


.dropdown-menu > li:hover > a {
	background-color: white !important;
	color: #1C9CD8 !important;
}


.bg-grayscale {
    filter: grayscale(100%) brightness(.3);
    background-size: cover;
    background-position: center center;
    
}

.section-container-holder {
	position: relative;
}
.section-container{
	position: relative;
	width: 100%;
}

.section-container > .content {
	position: relative;
	display: block;
	top:0;
}
.section-container > .content:after {
	content: " ";
	display: block;
	position: relative;
}

.section-container > .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	
}

.bg-northgate{
	background: url('http://info.test/wp-content/uploads/2019/01/Info-Website-01-e1546481704254.jpg') no-repeat center center fixed; background-size:cover;
}

@media screen and (max-width:500px){
	html{
	overflow-x:hidden;
	}
	.bg-northgate{
		background: url('http://info.test/wp-content/uploads/2019/01/Info-Website-01-e1546481704254.jpg') no-repeat center center fixed; background-size:cover;
	}
}

.white {
    color: white;
}
.btn {
	text-transform: uppercase;
}

.btn-informatics-blue {
	 background-color:#1C9CD8;
	 color: white;
}

.btn-informatics-blue:hover {
	background-color: white;
	color:#1C9CD8
}

.no-border {
	border-radius: 0px;
	border:#1C9CD8 2px solid;
}

/* Posts */


.post-entry {
	min-height: 145px;
}

/* Testimonials */

.image-container {
	cursor: pointer;
	height: 0px;
}

.testimonial-container {
	background-size: cover;
	background-position: top center;
	transition: 300ms ease-in-out transform;
}

.testimonial-container:hover{
	transform: scale(1.1);
	z-index: 100;
	
}

.testimonial-container > .caption {
	cursor: pointer;
	opacity: 0;
	transition: 300ms ease-in-out opacity;
}

.testimonial-container:hover > .caption {
	opacity: 1;
}

.caption{
	padding : 30px;
	background-color: rgba(0,0,0,.4);
	color: white;
}



footer .link-header{
	color: #1C9CD8;
	border-bottom: 2px solid #1C9CD8;
	font-size: 1.3rem;
}
footer .link-content ul {
	padding: 0;
}

footer .link-content ul > li {
	list-style: none;
}

footer .link-content ul > li > a {
	color: #5c666a;
	text-decoration: none;
	font-size: .8rem;
}

footer .link-content ul > li a:hover {
	color: #cccccc;
}

.bg-orange {
	background-color: #ffa60a;
}

.bg-blue {
	background-color: #1C9CD8;
}

.img-circle-container{
	width: 150px;
	height: 150px;
	border:9px solid #f5f5f5;
	border-radius: 100%;
	margin:40px auto 20px auto;
}
.testimonial-container-parent:hover{
	background: #007bff;
	color: white;
}
.testimonial-container-parent{
	background: white;
	transition: .3s all linear;
	cursor: pointer;
}


/* Breadcrumb */

.breadcrumb-section {
	background-color: #e5e5e5;
	display: flex;

	justify-content: right;
	align-items: center;
}
.breadcrumb-section > * {
	flex-grow: 0;
}

.breadcrumb-section > h1 {
	color: #c2c2c2;
	font-size: 20px;
}

.breadcrumb-section > p {
	text-align: right;
	font-size: 10px;
	margin: 0px 1em 0px 9em;
	display: none;
}
.breadcrumb-section > p  * {
	color: #1e9dd8;
	font-weight: 600;
}


@media  (min-width: 320px){
	#site-navigation {
		line-height: 35px;
		background-color: #f7f7f7;
	}
	.caption {
		min-height : 400px;
	}
}
@media  (min-width: 720px){
	.caption {
		min-height : 500px;
	}
	#site-navigation {
		line-height: 80px;
		background-color: #f7f7f7;
	}
}


@media  (min-width: 1080px){
	.caption {
		min-height : 500px;
	}

}

#AB-vid{
	height:100%;
}

@media (max-width:1620px){
	#AB-vid{
		height:106%;
	}
}

@media (max-width:1400px){
	#AB-vid{
		/* margin-top:60px; */
		height:105%;
	}
}

/* @media (max-width:1300px){
	#banner-video-holder{
		display:none;
	}
} */
/* @media (max-width:500px){
	#AB-vid{
		margin-top:-3px;
	}
} */
/* @media (max-width:400px){
	#AB-vid{
		margin-top:8px;
	}
} */


/* Redesign */


.three-programs-container{
	width: 1150px;
	margin: auto;
	margin-top: -60px;
	position: relative;
	z-index: 1;
}

.three-programs-container .three-program{
	flex:0 0 25%;
	font-size:1.25rem;
	padding:41px 0px 30px 0px;
	cursor: pointer;
}

.three-programs-container .three-program a:hover{
	font-style: normal;
	text-decoration: none;
}

.three-programs-container .three-program:first-child{
	background:#67b8de;
}

.three-programs-container .three-program:nth-child(2){
	background:#5693b0;
}

.three-programs-container .three-program:nth-child(3){
	background:#3c687d;
}

.three-programs-container .three-program:nth-child(4){
	background:#2b4d5d;
}

.three-programs-underline{
	width: 100%;
	height: 10px;
	background:#67b8de;
}

.three-program ~ .three-programs-underline{
	background:#67b8de;
}


.choose-informatics-section{
	position: relative;
	margin-top: -51px;
}

.border-blue-hover{
	position: relative;
	z-index: 1;

}
.border-blue-hover:hover{
	border:1px solid #1C9CD8;

}

.section-home-title span{
	color:#3c687d;
}

.section-home-title{
	position: relative;
}

.section-home-title::before{
	content:'';
	position: absolute;
	bottom: -10px;
	left: 0px;
	width: 74px;
	height: 5px;
	background:#3c687d;
}

.home-posts{
	padding:0px 75px 0px 102px !important;
}

.home-posts .posts-date{
	background:#3c687d;
	font-size: 27px;
	width: 100px;
	position: absolute;
	left: 2px;
	padding: 10px 0px;
}

.home-posts .content-excerpt{
	min-height: 70px;
    overflow: hidden;
}

.alumni-testimonies{
	background: #edeeef;
	height: 223px;
}
.alumni-container{
	z-index: 1;
}

.alumni .img-circle-container{
	cursor: pointer;
	transition: .2s all linear;
}

.industry-partners{
	padding-top: 315px;
}

.alumni .img-circle-container.active,.alumni .img-circle-container:hover{
	border:	9px solid #3c687d;
}


.alumni-testimony{
	width: 80%;
}

.alumni-testimony{
	position: absolute;

	top:0;
	left: 50%;
	transform:translateX(-50%);
	visibility: hidden;
	opacity: 0;
	transition:.3s all ease-in-out;
}

.alumni-testimony.active{
	display: block;
	visibility: visible;
	opacity: 1;
}

.alumni-testimony-container{
	width: 80%;
	margin: auto;
}


.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
	width: 35px !important;
	height: 35px !important;
  }

  .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  
	width: 35px !important;
	height: 35px !important;
}


.carousel-inner .overlay{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(1,1,1,1) -33%, rgba(0,212,255,0) 100%);
}


.short-courses-carousel{
	width: 55%;
	margin: auto;
	margin-top: 40px;
}
.short-courses-carousel .carousel-item{
	height: auto;
}


/*  Posts page css */
.my-post-title{
	line-height: 1.3em;
	max-height: 87px;
	overflow:hidden;
	font-weight: bold;
	color: #3c687d;
}


.my-post-excerpt p{
	height: 74px;
	overflow:hidden;
	color:#505050;

}
.page-numbers {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 0 0;
	border: 1px solid #eee;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	font-weight: 600;
}
.page-numbers.current,
a.page-numbers:hover {
	background: #f9f9f9;
}

.my-post img{
	height:auto !important;
}


@media (max-width:769px){
	
	.my-post-title{
		line-height: 1.3em;
		height: 37px;
		overflow:hidden;
	}
	
	
	.short-courses-carousel{
		width: 100%;
		margin: auto;
		margin-top: 40px;
	}
	.carousel-control-prev-icon {
		width: 20px !important;
		height: 20px !important;
	  }
	
	  .carousel-control-next-icon {
		width: 20px !important;
		height: 20px !important;
	}
	.three-programs-container{
		width: 100%;
		margin-top: 0px;
	}

	.three-programs-container .three-program{
		flex:0 0 100%;
		font-size: .8rem;
		padding: 18px;
	}

	.three-programs-underline{
		display: none;
	}


	.choose-informatics-section{
		margin-top: 0px;
	}

	.home-posts{
		padding:12px !important;
	}

	.home-posts .posts-date{
		font-size: .8rem;
		width: 42px;
		left: 12px;
		padding: 6px 0px;
	}
	.alumni .img-circle-container{
		width: 55px;
		height: 55px;
		border:2px solid #f5f5f5;
	}

	.alumni .img-circle-container:hover{
		border:	2px solid #3c687d;
	}


	.alumni-testimonies{
		height: 151px;
	}

	.alumni-testimony-container{
		width: 100%;
	}

	.alumni-testimony{
		width: 100%;
	}

	.industry-partners{
		padding-top: 212px;
	}
}